@model OnloadMVC.Models.ContatoModel
@{
    ViewData["Title"] = "Contato";
}
@await Html.PartialAsync("~/Views/Partials/Navegador.cshtml")

<div class="col s12 l6 push-l3">

    <p class="center"><b>Formulário de Contato</b></p>


    <form asp-action="SalvarContato" method="post">
        <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" asp-for="nome" id="nome" required>
            <label asp-for="nome">Nome</label>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">phone</i>
            <input type="tel" asp-for="telefone" id="telefone" required>
            <label asp-for="telefone">Telefone</label>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">email</i>
            <input type="email" asp-for="email" id="email" required>
            <label asp-for="email">Email</label>
        </div>
        <div class="row">
            <div class="col s12">
                <button class="btn right">enviar<i class="material-icons right">send</i></button>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Partials/Rodape.cshtml")